.product-container {
  background-color: #e9e4e4dc;
}
.project-title {

  letter-spacing: .8px;
 color: rgb(0, 0, 0);
  font-family: 'Fjalla One', sans-serif;
}

.print-img-container img {
  width: 200px;
}
.comming-soon-text {
  padding-bottom: 50px;
}

.comingSoon-img,
.onGoing-img {
  width: 300px;
  height: 250px;
}
.onGoing-img {
}
.ResponsiveMasonry {
  margin-left:  200px ;
}

@media (max-width: 768px){
    .ResponsiveMasonry{
        margin-left:  0 ;

    }
    


}