#about {
  background: black;
  padding-bottom: 70px;

  color: rgba(255, 255, 255, 0.767);
}

.about-img-container {
  width: 300px;
  height: auto;
}
.download-resumr{

    white-space: nowrap;
    letter-spacing: .8px;
   color: rgb(216, 58, 86);
    font-family: 'Fjalla One', sans-serif;
}