.img-container{

   
}


.img-container img{
    width: 300px;
  
    cursor:zoom-in;
    border: 4px solid white;
   
}
.pswp__bg {
    background-color: #fff !important;
}
/* .pswp__ui--fit .pswp__top-bar, .pswp__ui--fit .pswp__caption {
    background-color: rgb(255 255 255 / 30%) !important;
} */